<!DOCTYPE html>
<html lang="en">
<body>
	<div class="container-fluid">
    	<div class="row-fluid">
         	<div class="main">
         		<h1>Forms</h1>

                <ul class="nav nav-tabs">
                    <li role="presentation"><a class="tabText" href="forms.view.html">Forms</a></li>
                    <li role="presentation" class="active"><a class="tabText" href="#">Fields</a></li>
                </ul>

         		<div class="container-fluid">
                    <div class="row topForm">
                        <div class="col-xs-7">
                            <form>
                                <div class="form-group">
                                    <label for="firstName">First Name:</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Juan">
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-5">
                            <span href="#" class="glyphicon glyphicon-pencil"></span>
                            <span href="#" class="glyphicon glyphicon-plus"></span>
                            <span href="#" class="glyphicon glyphicon-remove"></span>
                            <span href="#" class="glyphicon glyphicon-menu-hamburger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-7">
                            <form>
                                <div class="form-group">
                                    <label for="firstName">Last Name:</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Garcia">
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-5">
                            <span href="#" class="glyphicon glyphicon-pencil"></span>
                            <span href="#" class="glyphicon glyphicon-plus"></span>
                            <span href="#" class="glyphicon glyphicon-remove"></span>
                            <span href="#" class="glyphicon glyphicon-menu-hamburger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-7">
                            <form>
                                <div class="form-group">
                                    <label for="dateOfBirth">Date of Birth:</label>
                                    <input type="date" class="form-control" id="dateOfBirth">
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-5">
                            <span href="#" class="glyphicon glyphicon-pencil"></span>
                            <span href="#" class="glyphicon glyphicon-plus"></span>
                            <span href="#" class="glyphicon glyphicon-remove"></span>
                            <span href="#" class="glyphicon glyphicon-menu-hamburger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-7">
                            <form>
                                <div class="form-group">
                                    <label for="newForm">Gender:</label>
                                    <select class="form-control" id="gender">
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-5">
                            <span href="#" class="glyphicon glyphicon-pencil"></span>
                            <span href="#" class="glyphicon glyphicon-plus"></span>
                            <span href="#" class="glyphicon glyphicon-remove"></span>
                            <span href="#" class="glyphicon glyphicon-menu-hamburger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-7">
                            <form class="form-group">
                                <label>Roles:</label>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="roles" value="Admin">Admin</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="roles" value="Student">Student</label>
                                </div>  
                                <div class="checkbox">
                                    <label><input type="checkbox" name="roles" value="User">User</label>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-5">
                            <span href="#" class="glyphicon glyphicon-pencil"></span>
                            <span href="#" class="glyphicon glyphicon-plus"></span>
                            <span href="#" class="glyphicon glyphicon-remove"></span>
                            <span href="#" class="glyphicon glyphicon-menu-hamburger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-7">
                            <form class="form-group">
                                <label>License Agreement:</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="licenseAgreement" id="licenseAgreementYes" value="Yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="licenseAgreement" id="licenseAgreementNo" value="No">
                                        No
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-5">
                            <span href="#" class="glyphicon glyphicon-pencil"></span>
                            <span href="#" class="glyphicon glyphicon-plus"></span>
                            <span href="#" class="glyphicon glyphicon-remove"></span>
                            <span href="#" class="glyphicon glyphicon-menu-hamburger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-7">
                            <form>
                                <div class="form-group">
                                    <label for="newForm">Add New Field:</label>
                                    <select class="form-control" id="newForm">
                                        <option>Single Line Text</option>
                                        <option>Date</option>
                                        <option>Dropdown</option>
                                        <option>Checkboxes</option>
                                        <option>Buttons</option>
                                        <option>Paragraph Text Field</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-5">
                            <span href="#" class="glyphicon glyphicon-plus"></span>
                        </div>
                    </div>

                </div> <!-- End of container -->

            </div> <!-- End of main -->
      	</div> <!-- End of row-fluid-->
    </div> <!-- End of container-fluid -->
</body>
</html>