<!DOCTYPE html>
<html lang="en">
<body>
	<div class="container-fluid">
    	<div class="row-fluid">
         	<div class="main">
         		<h1>Forms</h1>

                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a class="tabText" href="#">Forms</a></li>
                    <li role="presentation"><a class="tabText" href="fields.view.html">Fields</a></li>
                </ul>

         		<table class="table table-bordered table-striped">
         			<tr>
         				<th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span> Form Name
                        </th>
         				<th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span> Action
                        </th>
         			</tr>
         			<tr>
         				<td><input ng-model="form.title" type="text" class="form-control" id="inputText1" placeholder="My Form"></td>
         				<td><button ng-click="addForm(form)" class="glyphicon glyphicon-plus" aria-hidden="true"></button>
         					<span ng-click="updateForm(form)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
         				</td>
         			</tr>
					<tr ng-repeat="form in FormController.forms">
						<td>{{form.title}}</td>
						<td></td>
						<td></td>
					</tr>
         		</table>
				
         	</div>
      	</div>
    </div> 
</body>
</html>