<!DOCTYPE html>
<html lang="en">
<body>
	<div class="container-fluid">
    	<div class="row-fluid">
         	<div class="main">
         		<h1>Forms</h1>

                <ul class="nav nav-tabs">
                    <li role="presentation"><a class="tabText" href="forms.view.html">Forms</a></li>
                    <li role="presentation" class="active"><a class="tabText" href="#">Fields</a></li>
                </ul>

         		<div class="container-fluid">
                    <div ng-repeat="field in model.fields" class="row topForm">
                        <div class="col-xs-7">
                            <form>
                                <div class="form-group">
                                    <label>{{field.label}}</label>

                                    <div ng-switch on="field.fieldType">
                                        <input ng-switch-when="Text" type="text" placeholder="field.placeholder">
                                        <textarea ng-switch-when="Textarea" class="form-control" rows="3"></textarea>
                                        <input ng-switch-when="Date" type="date">
                                        <select ng-switch-when="Options">
                                            <option ng-repeat="option in field.options">{{option}}</option>
                                        </select>
                                        <div class="checkbox" ng-switch-when="Checkboxes">
                                            <label ng-repeat="option in field.options">
                                                <input type="checkbox" value="">
                                                {{option}}
                                            </label>
                                        </div>
                                        <div class="radio" ng-switch-when="Radios">
                                            <label ng-repeat="option in field.options">
                                                <input type="radio">
                                                {{option}}
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="col-xs-5">
                            <span href="#" class="glyphicon glyphicon-pencil"></span>
                            <span href="#" class="glyphicon glyphicon-plus"></span>
                            <button ng-click="removeField(field)" href="#" class="glyphicon glyphicon-remove"></button>
                            <span href="#" class="glyphicon glyphicon-menu-hamburger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-7">
                            <form>
                                <div class="form-group">
                                    <label for="newForm">Add New Field:</label>
                                    <select ng-model="model.fieldType" class="form-control" id="newForm">
                                        <option>Text</option>
                                        <option>Textarea</option>
                                        <option>Date</option>
                                        <option>Options</option>
                                        <option>Checkboxes</option>
                                        <option>Radios</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-5">
                            <button ng-click="addField(model.fieldType)" href="#" class="glyphicon glyphicon-plus"></button>
                        </div>
                    </div>

                </div> <!-- End of container -->

            </div> <!-- End of main -->
      	</div> <!-- End of row-fluid-->
    </div> <!-- End of container-fluid -->
</body>
</html>